<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="localhost"/>
        <property name="port" value="6379"/>
        <property name="database" value="2"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxActive" value="100"/>
        <property name="maxWait" value="10"/>
        <property name="maxIdle" value="40"/>
        <property name="minIdle" value="20"/>
    </bean>

    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>

    <bean id="stringRedisSerializar" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    <bean id="defaultRedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializar"/>
    </bean>

    <bean id="pessoaHashDAO" class="com.github.pedrobacchini.spring.PessoaHashDAO">
        <property name="stringRedisTemplate" ref="stringRedisTemplate"/>
    </bean>

    <bean id="redisTemplatePessoa" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializar"/>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer">
                <constructor-arg index="0">
                    <value type="java.lang.Class">com.github.pedrobacchini.domain.Pessoa</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="pessoaDAO" class="com.github.pedrobacchini.spring.PessoaDAO">
        <property name="redisTemplate" ref="redisTemplatePessoa"/>
    </bean>



    <bean id="redisTemplateCompra" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializar"/>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer">
                <constructor-arg index="0">
                    <value type="java.lang.Class">com.github.pedrobacchini.domain.Compra</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="compraDAO" class="com.github.pedrobacchini.spring.CompraDAO">
        <property name="redisTemplate" ref="redisTemplateCompra"/>
    </bean>


    <bean id="redisTemplateNotaFiscal" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer" ref="stringRedisSerializar"/>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer">
                <constructor-arg index="0">
                    <value type="java.lang.Class">com.github.pedrobacchini.domain.NotaFiscal</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="notaFiscalDAO" class="com.github.pedrobacchini.spring.NotaFiscalDAO">
        <property name="redisTemplate" ref="redisTemplateNotaFiscal"/>
    </bean>
</beans>